<!DOCTYPE html>
<html>
  <head>
    <title>MyPostApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <nav class="nav">
      <a  class="logo"><%= link_to('postApp','/')%></a>
        <ul class="nav-menu">
          <li class="nav">
            <a class="nav-menu-link"> <%=link_to('about','about')%></a>
          </li>
        </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
